/*--------------------------------------------------------------
# Style for MUSE
# Author: Mohamad
# Email: mshuhaileyfx@gmail.com
# Website: https://mnshuhailey.com
# Project: Frontend and Backend Development for MUSE -  Dinno Marketing
#
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #363636;
  font-family: "Open Sans", sans-serif;
  font-size:13px;
}

a {
  color: #00aeef;
}

a:hover, a:active, a:focus {
  color: #333;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
  font-size: 15px;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

.h1, h1 {
  font-size: 32px !important;
}

.h2, h2 {
  font-size: 35px !important;
}

.h3, h3 {
  font-size: 23px !important;
}

.h6, h6 {
  font-size: 13px !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1000px !important;
  }
}

.close-modal { display:none;}

.text-underline a { text-decoration: underline; }

#main {
  min-height: 620px;
}

#writeup .content {
  text-align:center;
  margin-top: 2rem;
}

#writeup .content h3 {
  font-weight:bold;
}

#writeup .content p {
  line-height: 1.7;
    font-size: 15px;
}

#howtoredeem {
  width: 100%;
  position: relative;
  background: url("../img/how-to-redeem.jpg");
  background-size: cover;
  color: #fff;
  text-align: center;
  margin-top:3rem;
}

#howtoredeem h3 {
  padding-top: 2rem;
  font-weight: bold;
  padding-bottom: 0px;
}

#howtoredeem .row h3 {
  padding-top: 2rem;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
}

#products {
  text-align: center;
}

#products h3{
  font-weight:bold;
  margin-top:3rem;
}

#products h5{
  font-weight: bold;
    padding-top: 10px;
    font-size: 15px;
}

#products p {
  margin-bottom: 10px;
  font-weight:bold;
}

#products div.tabContainer {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    background: #fff;
    margin: 40px auto;	
}

#products .tabContainer {
    padding: 5px 35px 5px 35px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 15px rgba(73, 78, 92, 0.1);
    background: #fff;
    transition: 0.4s;
    width: 100%;	
}

#products .products-collection{
  text-align: left;
}

#products ul.product-list {
  list-style: none;
  padding-left: 0;
}

#products ul.product-list li{
  float: left;
    padding-right: 20px;
    font-size: 11px;
    font-weight: bold;
    color: rgb(154, 154, 154);
    width: 20%;
    text-align: center;
    height: 130px;
}

#knowmore {
  width: 100%;
  position: relative;
  background: url("../img/imagine-wanttoknow.jpg");
  background-size: cover;
  color: #fff;
  text-align: center;
  margin-top:3rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

#knowmore h1 { font-weight:bold; }

/*--------------------------------------------------------------
# Homepage
--------------------------------------------------------------*/
#intro-home {
  width: 100%;
  height: 50vh;
  position: relative;
  background: url("../img/intro/intro-home.jpg") no-repeat;
  background-size: cover;
  color: #fff;
  min-height: 475px;
}

#intro-home .content {
  padding-top:18%;
}

#intro-home h2 {
  color: #fff;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 0px;
}

#intro-home .intro-txt {
    font-style: italic;
    font-size: 15px;
    margin-top: 5px;
    width: 480px;
    line-height: 1.5;
    margin-bottom: 22px;
}

#ourpartner ul.ourpartner-list {
  list-style:none;
  margin-top:20px;
  padding:0px;
  margin-left:-20px;
}
#ourpartner ul.ourpartner-list h6{
  text-align: right;
  padding-right:10px;
  font-weight:bold;
}
#ourpartner ul.ourpartner-list li{
  float: left;
  padding: 0 16px;
}
#ourpartner ul.ourpartner-list li img {
  height:45px;
  width:auto;
}
.contaner-extend {
  padding: 0px;
}

#getwithmuse {
  margin-top: 90px;
  margin-bottom: 120px;
}

#getwithmuse .container h3 {
  font-weight:bold;
  margin-bottom:45px;
}

#getwithmuse .container h5 {
  font-weight: bold;
  font-size: 16px;
  margin-top: 25px;
}

#getwithmuse .container {
  text-align: center;
}

#homepage-column1 {
  margin-bottom:5rem;
}

#homepage-column1 h3 {
  font-weight:bold;
}
#homepage-column1 .normal-txt {
  margin:0px;
}
#homepage-column1 .normal-txt2 {
  color:#00ADEF;
  font-weight:bold; 
  margin-bottom:10px;
}
#homepage-column1 .column-content {
  margin-top:10%;
}
#homepage-column1 ul.cloumn-list {
  list-style:none;
}
#homepage-column1 ul.cloumn-list li {
  float:left;
  padding-right: 15px;
}

#homepage-column2 {
  margin-bottom:5rem;
  width: 100%;
  height: 59vh;
  position: relative;
  background: url("../img/homepage/bg2.jpg") no-repeat;
  background-size: cover;
  padding:70px 0px;
  min-height: 545px;
}

#homepage-column2 h3 {
  font-weight:bold;
}
#homepage-column2 .normal-txt {
  margin:0px;
}
#homepage-column2 .normal-txt2 {
  color:#00ADEF;
  font-weight:bold; 
  margin-bottom:10px;
}
#homepage-column2 .column-content {
  margin-top:8%;
}
#homepage-column2 ul.cloumn-list {
  list-style:none;
}
#homepage-column2 ul.cloumn-list li {
  float:left;
  padding-right: 20px;
}

#homepage-column3 {
  margin-bottom:5rem;
}

#homepage-column3 h3 {
  font-weight:bold;
}
#homepage-column3 .normal-txt {
  margin:0px;
}
#homepage-column3 .normal-txt2 {
  color:#00ADEF;
  font-weight:bold; 
  margin-bottom:10px;
}
#homepage-column3 .column-content {
  margin-top:7%;
}
#homepage-column3 ul.cloumn-list {
  list-style:none;
}
#homepage-column3 ul.cloumn-list li {
  float:left;
  padding-right: 15px;
}

#howtostart {
  width: 100%;
  height: 40vh;
  position: relative;
  background: url("../img/homepage/bg3.jpg");
  background-size: cover;
  color: #fff;
  text-align: center;
  margin-top:3rem;
  margin-bottom: 3rem;
  min-height: 380px;
}

#howtostart h3 {
  padding-top: 3rem;
  font-weight: bold;
  padding-bottom: 20px;
}

#howtostart .row h3 {
  padding-top: 3rem;
  font-weight: bold;
  font-size: 17px !important;
}

#homeslider {
  text-align: center;
}
#homeslider h3 {
    padding-bottom: 20px;
    font-weight: bold;
}
#homeslider h5{
  font-size: 16px;
  font-weight: bold;
  padding-top: 1rem;
  color: #555555;
}
#homeslider div.tabContainer {
  border-top: 1px solid #eee;
  padding: 25px 30px 0px 30px;
}
#homeslider img {
  text-align: center;
  padding:0;
  margin:0;
  display: inline;
}
#homeslider .small-txt {
  text-align: left;
  font-size: 12px;
  font-style:italic;
}
#homeslider .slick-list {
  padding-bottom:15px;
}

#homeslider .slick-arrow {
  width: 19px;
  height:24px;
  text-indent: -9999px;
  border:none;
  position: absolute;
  z-index: 1;
  top: 130px;
  cursor:pointer;
}
#homeslider .slick-prev {
  background: url("../img/homepage/arrow-left.png") no-repeat;
  left: 0px;
}
#homeslider .slick-next {
  background: url("../img/homepage/arrow-right.png") no-repeat;
  right: 0px;
}

#allbenefit {
  width: 100%;
  height: 29vh;
  position: relative;
  background: url("../img/homepage/bg4.jpg");
  background-size: cover;
  color: #fff;
  text-align: center;
  margin-top:3rem;
  min-height: 275px;
}
#allbenefit h2 {
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-weight: bolder;
  color: #333;
  letter-spacing: 3px;
}
#allbenefit .allbenefit-submit-button {
  background: #f25022;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 55px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

#attention {
  width: 100%;
  height: 44vh;
  position: relative;
  background: url("../img/homepage/bg5.png") #fff;
  background-size: cover;
  color: #fff;
  text-align: left;
  margin-top:1rem;
  margin-bottom:2.7rem;
  margin-left: -4px;
  border-bottom: 1px solid #eee;
  box-shadow: 5px 5px 15px rgba(73, 78, 92, 0.1);
  min-height: 423px;
}
#attention h2 {
    padding-top: 6rem;
    font-weight: bold;
    padding-left: 20px;
}
#attention img {
    margin: 2rem 0 3rem 2rem;
}
#attention .col-lg-3 {
  text-align:center;
}
#attention .attention-submit-button {
    background: #e11b36;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    padding: 8px 55px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    position: relative;
    top: 0;
    left: 10px;
    letter-spacing: 1px;
}
#attention ul.attentionlist {
    font-size: 22px;
    padding-left: 60px;
}

@media (max-width: 768px) {
  .switch { margin:0px 16px !important; }
  #ourpartner ul.ourpartner-list {
    padding: 0px 3rem;
    margin-left: 0px;
  }
  #ourpartner ul.ourpartner-list li {
    float: left;
    padding-right: 17px;
  }
  #homepage-column1 img.homepage-img, .separator {
    width: 100% !important;
  }
  #homepage-column1 ul.cloumn-list {
    padding: 0px;
  }
  #homepage-column1 ul.cloumn-list li {
    padding-right: 8px;
  }

  #homepage-column2 img.homepage-img, .separator {
    width: 100% !important;
  }
  #homepage-column2 ul.cloumn-list {
    padding: 0px;
  }
  #homepage-column2 ul.cloumn-list li {
    padding-right: 8px;
  }

  #homepage-column3 img.homepage-img, .separator {
    width: 100% !important;
  }
  #homepage-column3 ul.cloumn-list {
    padding: 0px;
  }
  #homepage-column3 ul.cloumn-list li {
    padding-right: 8px;
  }
  #howtostart {
    height:140vh;
  }
  #howtostart .row h3 {
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
  #allbenefit {
    height:35vh;
  }
  #attention h2 {
    padding-top: 3rem;
  }
  #homepage-column2 {
    height:97vh;
    margin-bottom: 3rem;
    padding:0;
  }
}

/*--------------------------------------------------------------
# Office 365
--------------------------------------------------------------*/
#intro-office365 {
  width: 100%;
  height: 50vh;
  position: relative;
  background: url("../img/intro/office365.jpg") no-repeat;
  background-size: cover;
  color: #fff;
  min-height: 476px;
}

#intro-office365 .content {
  padding-top:18%;
}

#intro-office365 h2 {
  color: #fff;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 0px;
}

#intro-office365 .intro-txt {
  font-style: italic;
  font-size: 15px;
  margin-top: 5px;
}

#office365info1 .row.office365column {
  margin: 7rem 0px;
  text-align:center;
}
#office365info1 .row.office365column h3{
  font-weight:bold;
}

#office365info1 .row.office365column h2 {
  font-weight:bold;
}

#office365info1 .row.office365column p {
  color: #333;
  font-size: 14px;
}

#office365info1 .row.office365column .btn-office365 {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 20px;
  background: #00A651;
  box-shadow: 5px 5px 15px rgba(0,0,0, 0.5);
}

#office365info1 .office365column .col-lg-6 img.img-left {
  width: 85%;
  box-shadow: 5px 5px 15px rgba(0,0,0, 0.1);
}

ul.office365-products {
  list-style: none;
  
}

ul.office365-products li {
  padding: 12px;
  display: inline;
}

ul.office365-products li img {
  width: auto;
  height: 43px !important;
  margin-bottom: 10px;
}

#intro-imagine-academy {
  width: 100%;
  height: 50vh;
  position: relative;
  background: url("../img/intro/imagine-academy-intro.jpg") no-repeat;
  background-size: cover;
  color: #fff;
  min-height:457px;
}

#intro-imagine-academy .content {
  padding-top:18%;
}

#intro-imagine-academy h2 {
  color: #fff;
  font-weight: bold;
  font-size:28px;
  margin-bottom: 0px;
}

#intro-imagine-academy .intro-txt {
    font-style: italic;
    font-size: 15px;
    margin-top: 5px;
    width: 480px;
    line-height: 1.5;
    margin-bottom: 22px;
}

.imagine-academy-content .normal-txt {    
  line-height: 3rem;
  font-size: 15px;
}
.imagine-academy-content .col-lg-3 {
  padding-right: 5px;
}

.imagine-academybox {
  padding: 50px 10px;
  box-shadow: 5px 5px 15px rgba(73, 78, 92, 0.1);
  background: #fff;
  transition: 0.4s;
  border-radius: 10px;
  border: 1px solid #eee;
  margin-bottom: 10px;
  min-height: 210px;
}

.imagine-academybox img { width:90%;}

.imagine-academy-content h5 { font-weight:bold; }

#partners {
  margin-top:3rem;
}

#partners h3 {
  float: left;
    font-weight: bold;
    margin-bottom: 2rem;
}

#partners .imagine-academybox {
  padding: 75px 0px;
    box-shadow: 5px 5px 15px rgba(73, 78, 92, 0.1);
    background: #fff;
    transition: 0.4s;
    border-radius: 10px;
    border: 1px solid #eee;
    margin-bottom: 3rem;
    height: 280px;
    text-align: center;
    margin: 12px;
}

#partners .imagine-academybox img {
  width:80%;
}

#intro-windows10 {
  width: 100%;
  height: 50vh;
  position: relative;
  background: url("../img/intro/intro-windows10.jpg") no-repeat;
  background-size: cover;
  color: #fff;
  min-height:457px;
}

#intro-windows10 h2 {
  color: #fff;
  font-weight: bold;
  margin-bottom: 0px;
}

#intro-windows10 .intro-txt {
    font-style: italic;
    font-size: 15px;
    margin-top: 5px;
    width: 480px;
    line-height: 1.5;
    margin-bottom: 22px;
}

#intro-windows10 .content {
  padding-top:18%;
}

#windows10info1 h3 {
  font-weight: bold;
    text-align: center;
    padding: 45px 0px 30px 0px;
}

#windows10info1 h5 {
  font-weight: bold;
    text-align: center;
    padding: 10px 0px;
    margin: 10px;
    font-size: 18px;
}

#windows10info1 .normal-txt {
    line-height: 1.7;
    text-align: left;
    font-size: 15px;
}

#windows10info1 .windows10column {
  text-align: center;
}

#windows10info1 .windows10column2 {
  text-align: center;
  margin-top:60px;
}

#windows10info1 .small-txt {
  text-align: left;
  font-size:12px;
}

#windows10info1 .btn-windows10 {
  text-align: center;
  padding-top: 20px;
}

#windows10info1 .btn-windows10 a {
  color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 85px;
    background: #00a651;
    border-radius: 3px;
}


@media (max-width: 768px) {
  #products ul.product-list li{
    width: 100%;
    text-align:center;
  }
  #office365info1 .office365column .col-lg-6 img.img-left {
    width: 100%;
    margin-bottom:1rem;
  }
}

/*--------------------------------------------------------------
# News & Events
--------------------------------------------------------------*/
#newslist .container {
  margin-top:3rem;
}
#newslist .news-img1 {
  width: 100%;
  height: 515px;
}
#newslist .news-img2 {
  width: 100%;
  height: 252px;
}
#newslist .container h3 a {
  color: #fff;
  font-weight: bold;
}
#newslist .col-lg-6 {
  padding-right:5px;
  padding-left:5px;
}
#newslist .newsmainbox-info {
  background: rgba(36, 36, 36, 0.55);
  bottom: 9px;
  left: 5px;
  position: absolute;
  padding: 15px;
  width: 98%;
  color: #fff;
}
#newslist .newsmainbox-info1 {
  background: rgba(36, 36, 36, 0.55);
  bottom: 272px;
  left: 5px;
  position: absolute;
  padding: 15px;
  width: 98%;
  color: #fff;
}
#newslist .newsmainbox-info h3, #newslist .newsmainbox-info1 h3, #newslist .newsmainbox-info2 h3 {
  margin-bottom: 15px;
}

#newslist .newsmainbox-info2 {
  background: rgba(36, 36, 36, 0.55);
  bottom: 9px;
  left: 5px;
  position: absolute;
  padding: 15px;
  width: 98%;
  color: #fff;
}

#eventlist {
  margin-top:3rem;
}
#eventlist h3 {
  text-align: center;
  font-weight:bold;
}
#eventlist .eventsmainbox a{
  color:#333;
}
#eventlist .eventsmainbox {
  padding: 0;
  box-shadow: 5px 5px 15px rgba(73, 78, 92, 0.1);
  background: #fff;
  transition: 0.4s;
  border: 1px solid #eee;
  margin-bottom: 1rem;
}
#eventlist .eventsmainbox-info {
  padding:15px;
}
#eventlist .eventsmainbox-info a {
  color:#000;
  font-weight:bold;
  font-size:18px;
}
#eventlist .eventsmainbox-info .news-title {
  height:55px;
}

#newsdetails {
  margin-top:3rem;
  margin-bottom:3rem;
}
#newsdetails .breadcrumb-news {
  font-size: 18px;
  margin-bottom:1rem;
}
#newsdetails .breadcrumb-news a {
  color:#363636;
}
#newsdetails h3 {
    padding: 1rem 0px;
    margin: 0px;
    color: #000;
    font-weight: bold;
    margin-top: 15px;
}
#newsdetails .newsdetails-date {
  padding:0px 0px 1rem 0px;
  color: rgb(148, 148, 148);
}
#newsdetails .newsdetails-desc {
    font-size: 15px;
    color: rgb(114, 114, 114);
    line-height: 1.7;
}
#newsdetails .fa-angle-right {
  color:rgb(219, 143, 0);
}
#newsdetails .newsdetailsmainbox img {
  text-align: center;
}

#allevents {
  margin-top:0.7rem;
  margin-bottom:3rem;
}
#allevents h3 {
  font-weight:bold;
}
#allevents h5 {
  margin: 0px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 18px !important;
    margin-top: 7px;
}
#allevents h5 a{
  color:#333;
}
#allevents .allevent-img {
  width:160px;
  height:160px;
}
#allevents .alleventsbox {
  padding: 10px;
  box-shadow: 5px 5px 15px rgba(73, 78, 92, 0.1);
  background: #fff;
  transition: 0.4s;
  border: 1px solid #eee;
  margin-bottom: 1.5rem;
}
#allevents .col-lg-3 {
  margin:0px;
  padding:0px;
  max-width:20%;
}
#allevents .col-lg-7 {
  max-width: 66.333333%;
  flex: 0 0 66.333333%;
}
#allevents .col-lg-2 {
  max-width: 13.666667%;
  flex: 0 0 13.666667%;
}
#allevents .events-datetime-info div{
  float:left;
  padding-right:15px;
}
.events-datetime-info {
  font-size: 11px;
  color: #7e7e7e;
}
#allevents .events-desc {
  padding-bottom:10px;
  min-height:107px;
}
#allevents .eventdate-box {
  background:#FFC500;
  color:#fff;
  font-weight:bold;
  font-size: 11px;
  text-align: center;
  padding-bottom: 20px;
  margin-top: 35px;
}
#allevents .eventdate-box .day {
  background:#333;
  color:#fff;
  text-align:center;
}
#allevents .month-date-m {
  padding-top:15px;
  text-transform: uppercase;
  font-size: 11px;
}
#allevents .month-date-d {
  font-size: 32px;
}

#allevents .allevents-filter {
  width:100%;
  height: 35px;
  margin-bottom: 3rem;
  border-bottom: 1px solid #dcdcdc;
}
#allevents .allevents-filter label.cat {
  float:left;
  width: 65px;
}
#allevents .allevents-filter label.month {
  float:left;
  width: 40px;
}
#allevents .allevents-filter select.cat {
  float: left;
  width: 180px;
  padding: 0px;
  margin: 0 40px 0 0;
}
#allevents .allevents-filter select.month {
  float: left;
  width: 125px;
  padding: 0px;
  margin: 0 40px 0 0;
}
#eventlist .btn-more-events {
  margin-bottom: 2rem;
  padding: 15px 0px;
  text-align: right;
}
#eventlist .btn-more-events a {
  text-decoration: underline;
}
#eventlist .btn-more-events a img{
  width:18px;
}
 
#newslist .btn-more-events {
  margin-bottom: 2rem;
  padding: 15px 0px;
  text-align: right;
}
#newslist .btn-more-events a {
  text-decoration: underline;
}
#newslist .btn-more-events a img{
  width:18px;
}

@media (max-width: 768px) {
  #newslist .newsmainbox-info {
    bottom: 10px;
  }
  #newslist .newsmainbox-info1 {
    top: 103px;
  }
  #eventlist .eventsmainbox img{
    width: 100%;
  }
  #allevents  .allevent-img {
    width:100%;
    height:100%;
  }
  #allevents .alleventsbox {
    margin:10px 0px;
  }
  #allevents .col-lg-3, #allevents .col-lg-2, #allevents .col-lg-7 {
    max-width: 100%;
    flex: 100%;
  }
  #allevents h5 {
    padding-top:10px;
  }
  #allevents .events-datetime-info div{
    padding-right:8px;
  }
  #allevents .events-desc {
    padding-bottom:10px;
  }
  #allevents .allevents-filter label.cat {
    width: 57px;
  }
  #allevents .allevents-filter select.cat {
    margin: 0 20px 0 0;
    width: 157px;
  }
  #allevents .allevents-filter label.month {
    width: 40px;
  }
  #allevents .allevents-filter select.month {
    margin: 0 10px 0 0;
    width: 95px;
  }
}

/*--------------------------------------------------------------
# Adobe & Autodesk
--------------------------------------------------------------*/
#introadobe {
  width: 100%;
  height: 50vh;
  position: relative;
  background: url("../img/intro/intro-adobe.jpg") no-repeat;
  background-size: cover;
  color: #fff;
  min-height:457px;
}
#introadobe h2 {
  color: #fff;
  font-weight: bold;
  margin-bottom: 0px;
}

#introadobe .intro-txt {
  font-style: italic;
  font-size: 15px;
  margin-top: 5px;
}

#introadobe .content {
  padding-top:18%;
}

#adobeproducts {
  margin-top:4rem;
}

#adobeproducts h5 {
  text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding-top: 10px;
}
#adobeproducts .col-lg-4 {
  text-align: center;
}
#adobeproducts .tabContainer {
  padding:35px;
}

#adobeproducts .products-collection p {
  font-size: 15px;
  color:#495057;
}

.col-lg-8.products-collection p {
    margin-top: 20px;
}

#adobeproducts div.tabContainer {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    background: #fff;
    margin: 40px auto;	
}

#adobeproducts .tabContainer {
    padding: 75px 35px 35px 35px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 15px rgba(73, 78, 92, 0.1);
    background: #fff;
    transition: 0.4s;
    width: 100%;	
}

#introautodesk {
  width: 100%;
  height: 50vh;
  position: relative;
  background: url("../img/intro/intro-autodesk.jpg") no-repeat;
  background-size: cover;
  color: #fff;
  min-height:457px;
}
#introautodesk h2 {
  color: #fff;
  font-weight: bold;
  margin-bottom: 0px;
}

#introautodesk .intro-txt {
  font-style: italic;
  font-size: 15px;
  margin-top: 5px;
}
#introautodesk .content {
  padding-top:18%;
}

/* Modal
--------------------------*/

.modal { color:#000; }

.modal h3{
  color:#000;
  font-weight:bold;
  padding-top:15px;
}

.modal a.button {
  background: #3CB879;
  padding:10px 25px;
  color:#fff;
  font-weight:bold;
  float:right;
  border-radius:5px;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: #008cba;
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: #008cba;
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #008cba;
  color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    padding: 20px 0;
    height: 75px;
    transition: all 0.5s;
    z-index: 997;
    background: #fff;
    border-bottom: 1px solid #dcdcdc;
}

#header #logo h1 {
  font-size: 42px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#header #logo h1 a {
  color: #0c2e8a;
  line-height: 1;
  display: inline-block;
}

#header #logo h1 a span {
  color: #50d8af;
}

#header #logo img {
    padding: 0;
    margin: 0;
    width: 65px;
}

#header #logo {width: 100px;}

#header-sticky-wrapper {
  height: 75px;
}

@media (max-width: 768px) {
  #header {
    padding: 20px 0;
    height: 74px;
  }
  #header #logo h1 {
    font-size: 34px;
  }
  #header #logo img {
    max-height: 40px;
  }
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
  width: 100%;
  height: 50vh;
  position: relative;
  background: url("../img/intro/imagine-intro.jpg") no-repeat;
  background-size: cover;
  color: #fff;
  min-height: 475px;
}

#intro .content {
  padding-top:19%;
}

#intro h2 {
  color: #fff;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 0px;
}

#intro .intro-txt {
    font-style: italic;
    font-size: 15px;
    margin-top: 5px;
    width: 480px;
    line-height: 1.5;
    margin-bottom: 22px;
}

#intro .intro-content {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#intro .intro-content h2 {
  color: #0c2e8a;
  margin-bottom: 30px;
  font-size: 64px;
  font-weight: 700;
}

#intro .intro-content h2 span {
  color: #50d8af;
  text-decoration: underline;
}

@media (max-width: 767px) {
  #intro .intro-content h2 {
    font-size: 34px;
  }
}

#intro .intro-content .btn-get-started, #intro .intro-content .btn-projects {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
}

#intro .intro-content .btn-get-started {
  background: #0c2e8a;
  border: 2px solid #0c2e8a;
}

#intro .intro-content .btn-get-started:hover {
  background: none;
  color: #0c2e8a;
}

#intro .intro-content .btn-projects {
  background: #50d8af;
  border: 2px solid #50d8af;
}

#intro .intro-content .btn-projects:hover {
  background: none;
  color: #50d8af;
}

#intro #intro-carousel {
  z-index: 8;
}

#intro #intro-carousel::before {
  content: '';
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 7;
}

#intro #intro-carousel .item {
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.intro-submit-button {
  background: #008cba;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 60px !important;
  border-radius: 5px;
  border: 0;
  cursor: pointer;

}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: -25px;
    z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 22px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f0d7";
  position: absolute;
  right: 8px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Menu Container */
#nav-menu-container {
  margin: 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Menu Styling */
.nav-menu {
  float:left;
}

.nav-menu a {
  padding: 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #363636;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 11px;
  outline: none;
}

.nav-menu li:hover > a, .nav-menu > .menu-active > a {
  color: #333;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu.nav-menu-right ul {
  margin: 4px 0 0 0;
  padding: 15px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #0054A5;
  border-radius:5px;
  width:150px;
}

.nav-menu.nav-menu-right ul li .img-icon {
  padding-right:5px;
}

.nav-menu.nav-menu-right ul li a, .nav-menu.nav-menu-right ul li a:hover {
  color:#fff;
  font-size:11px;
}

.nav-menu.nav-menu-right ul:before {
  position: absolute;
  top: -7px;
  left: 74%;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #0054A5;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.nav-menu.nav-menu-right ul:after {
  position: absolute;
  top: -6px;
  left: 74%;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #0054A5;
  border-left: 6px solid transparent;
  content: '';
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #333;
}

.nav-menu ul ul {
  margin: 0;
}

.nav-menu-right {
  float:right;
  color:#555;
}

.nav-menu-right li {
  float:left;
  position: relative;
  white-space: nowrap;
  list-style: none;
}

.nav-menu-right li a{
  color: #555;
  padding: 10px 0px;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 11px;
  outline: none;
}
.nav-menu-right li.button-header a {
    padding: 5px;
    background-color: #008cba;
    color: #fff;
    border-radius: 30px;
    width: 150px;
    text-align: center;
    font-size: 11px;
    position: relative;
    top: 4px;
}

.nav-menu-right li.text-underline a { 
  text-decoration: underline;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #555;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
  .profile ul li .img-icon {
    display:none;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #fff;
}

#mobile-nav ul .menu-item-active {
  color: #fff;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# Language Toggle
--------------------------------------------------------------*/

.switch {
  position: relative;
  height: 25px;
  width: 72px;
  top: 5px;
  margin: 0px auto;
  background: #d1d1d1;
  border-radius: 30px;
  -webkit-box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.3), 0 5px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.3), 0 5px rgba(255, 255, 255, 0.1);
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 35px;
  line-height: 25px;
  font-size: 11px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}
.switch-label:active {
  font-weight: bold;
  color: #fff;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}


.switch-input {
  display: none;
}
.switch-input.choose + .switch-label {
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -ms-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: color, text-shadow;
  -moz-transition-property: color, text-shadow;
  -ms-transition-property: color, text-shadow;
  -o-transition-property: color, text-shadow;
  transition-property: color, text-shadow;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 35px !important;
  /* Note: left: 50%; doesn't transition in WebKit */
}

.switch-input.choose + .switch-label-on ~ .switch-selection {
  left: 35px !important;
}

.switch-selection {
  position: absolute;
  z-index: 1;
  top: 1px;
  left: 2px;
  display: block;
  width: 35px;
  height: 23px;
  border-radius: 30px;
  background-color: #65bd63;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dd993), color-stop(100%, #65bd63));
  background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
  background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
  background-image: -ms-linear-gradient(top, #9dd993, #65bd63);
  background-image: -o-linear-gradient(top, #9dd993, #65bd63);
  background-image: linear-gradient(top, #9dd993, #65bd63);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -ms-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.switch-blue .switch-selection {
  background-color: #3aa2d0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4fc9ee), color-stop(100%, #3aa2d0));
  background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -moz-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -ms-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -o-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: linear-gradient(top, #4fc9ee, #3aa2d0);
}
.switch-yellow .switch-selection {
  background-color: #008cba;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008cba), color-stop(100%, #008cba));
  background-image: -webkit-linear-gradient(top, #008cba, #008cba);
  background-image: -moz-linear-gradient(top, #008cba, #008cba);
  background-image: -ms-linear-gradient(top, #008cba, #008cba);
  background-image: -o-linear-gradient(top, #008cba, #008cba);
  background-image: linear-gradient(top, #008cba, #008cba);
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header {
  margin-bottom: 30px;
}

.section-header h2 {
  font-size: 32px;
  color: #0c2e8a;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  padding-bottom: 20px;
}

.section-header h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #50d8af;
  bottom: 0;
  left: 0;
}

.section-header p {
  padding: 0;
  margin: 0;
}

/* Signup and Login Section
--------------------------------*/
#signup div.tabBox {
    width: 426px;
    overflow: visible;
    text-align: center;
    margin: 70px auto;
}
  
div.tabBox h3 {
  padding:20px 0px;
}
  
ul.tabs {
margin: 0;
padding: 0;
float: left;
list-style: none;
height: 45px; 
width:100%;
}
  
ul.tabs li {
  float: left;
  margin: 0;
  padding: 0;
  height: 45px; 
  line-height: 45px; 
  margin-bottom: -1px; 
  overflow: hidden;
  position: relative;
  width: 50%;
  text-align: center;
}
  
.tabContainer {
    padding: 75px 35px 35px 35px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 15px rgba(73, 78, 92, 0.1);
    background: #fff;
    transition: 0.4s;
}
  
.tabContent h3 {
  padding:0px;
}
  
/**** TABS STYLES ****/
  
ul.tabs li.dimbox a {
  background-color:#dddddd;
}
  
  
ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 45px;
    width: 100%;
} 
  
ul.tabs li a {
  background:#fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  color: #000;
  display: block;
  outline: none;
  border: 1px solid #eee; 
  /*border-left: none;
  border-right: none;*/
}
  
ul.tabs li a:hover {
  /*background: #ddd;*/
  cursor: default;
}
  
ul.tabs li.active {
  border-bottom:1px solid #fff;
}
  
ul.tabs li.active a, ul.tabs li.active a:hover  {  
  background: #fff;
}
  
div.tabContainer {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    background: #fff;
}

@media only screen and (max-width: 767px) {
 
  ul.tabs {
  height: auto;
  display: block;
  width:100%;
  border-left:0px;
  }
       
  ul.tabs li {
  width:100%;
  }
   
  ul.tabs li a {
  border-top-left-radius:0px;
  -moz-border-top-left-radius:0px;
  -webkit-border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-border-top-right-radius:0px;
  -webkit-border-top-right-radius:0px;    
  border:0px;
  }
       
  div.tabContainer {
  border: 0px;
  box-shadow:none;
  }
       
}

.signup-extra .tabContainer, .verify-account .tabContainer {
  border-top: 1px solid #eee;
}

/* Form
--------------------------------*/
.input {
  padding: 8px 10px;
  margin: 8px 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #eee;
  background-color: transparent;
  font-size: 13px;

}

select {
  padding: 8px 10px;
  margin: 15px 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #eee;
  background-color: transparent;
}

.error {
  color: #e70303;
  font-size: 13px;
  font-family: "Open Sans";
  margin: 0px 10px 10px 10px;
  float:left;
  display:none;
  width: 92%;
  text-align: left;
}

.form-submit-button {
  background: #008cba;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 55px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  margin-top: 25px;  
}

.form-txt-agree {
    margin-top: 30px;
    font-size: 11px;
    color: #989898;
    margin-bottom: 0;	
}

label {
  float: left;
  text-align: left;
  font-size: 13px;

}

span.divider-icnumber {
  float:left;
  font-size: 1.3rem;
}

.icnumber1, .icnumber2, .icnumber3, .prefix-phone{
  float:left;
}

.prefix-phone {
  width:30px;
  margin-top: 10px;
}
.signup-extra .phone {
    float: left;
    width: 88%;
    margin-top: 0px;
    margin-right: 0;
    padding-right: 0;
}

.icnumber1 {
  width:110px;
  margin: 0px 15px 0px 0px;
}
.icnumber2 {
  width:60px;
  margin: 0px 15px;
}
.icnumber3 {
  width:110px;
  margin: 0px 0px 0px 15px;
}

.nric-label {
  padding-top: 10px;
  margin-right: 10px;
  width: 100%;
}
.phone-label {
    padding-top: 25px;
    margin-right: 10px;
    width: 100%;
}
#submit-extra {
  margin-top:2rem;
}

@media (max-width: 768px) {
  .signup-extra .phone {
    width: 80%;
  }
}

/* Verify Account Section
--------------------------------*/
.verify-account .form-submit-button {
  margin-top:20px;
}

.verify-account .tabContainer {
    padding: 30px 25px 40px 23px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 15px rgba(73, 78, 92, 0.1);
    width: 426px;
    background: #fff;
    transition: 0.4s;
}

/* Forgot Pass Section
--------------------------------*/
.forgot-pass {
  text-align:center;
}

.forgot-pass .form-txt {
  font-size:11px;
}

.forgot-pass .form-txt a{
  text-decoration: underline;
}

.forgot-pass-container {
  margin:6rem auto;
}

.forgot-pass-container p {
    margin-top: 1rem;
    font-size: 19px;
    color: #888;
    font-weight: 100;
    margin-bottom: 50px;
}

.forgot-pass-container label {
    font-size: 15px;
    font-weight: bold;
}

.forgot-pass-button {
    background: #00ADEF;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 60px;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    margin-top: 3rem;
}


/* About Section
--------------------------------*/
#about {
  padding: 60px 0 30px 0;
}

#about .about-img {
  overflow: hidden;
}

#about .about-img img {
  margin-left: -15px;
  max-width: 100%;
}

@media (max-width: 768px) {
  #about .about-img {
    height: auto;
  }
  #about .about-img img {
    margin-left: 0;
    padding-bottom: 30px;
  }
}

#about .content h2 {
  color: #0c2e8a;
  font-weight: 700;
  font-size: 36px;
  font-family: "Raleway", sans-serif;
}

#about .content h3 {
  color: #555;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
}

#about .content p {
  line-height: 26px;
}

#about .content p:last-child {
  margin-bottom: 0;
}

#about .content i {
  font-size: 20px;
  padding-right: 4px;
  color: #50d8af;
}

#about .content ul {
  list-style: none;
  padding: 0;
}

#about .content ul li {
  padding-bottom: 10px;
}

/* Services Section
--------------------------------*/
#services {
  padding: 30px 0 0 0;
}

#services .box {
  padding: 40px;
  margin-bottom: 40px;
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
  background: #fff;
  transition: 0.4s;
}

#services .box:hover {
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}

#services .box .icon {
  float: left;
}

#services .box .icon i {
  color: #444;
  font-size: 64px;
  transition: 0.5s;
  line-height: 0;
  margin-top: 34px;
}

#services .box .icon i:before {
  background: #0c2e8a;
  background: linear-gradient(45deg, #50d8af 0%, #a3ebd5 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#services .box h4 {
  margin-left: 100px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 22px;
}

#services .box h4 a {
  color: #444;
}

#services .box p {
  font-size: 14px;
  margin-left: 100px;
  margin-bottom: 0;
  line-height: 24px;
}

@media (max-width: 767px) {
  #services .box .box {
    margin-bottom: 20px;
  }
  #services .box .icon {
    float: none;
    text-align: center;
    padding-bottom: 15px;
  }
  #services .box h4, #services .box p {
    margin-left: 0;
    text-align: center;
  }
}

/* Clients Section
--------------------------------*/
#clients {
  padding: 30px 0;
}

#clients img {
  max-width: 100%;
  opacity: 0.5;
  transition: 0.3s;
  padding: 15px 0;
}

#clients img:hover {
  opacity: 1;
}

#clients .owl-nav, #clients .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#clients .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#clients .owl-dot.active {
  background-color: #50d8af;
}

/* Our Portfolio Section
--------------------------------*/
#portfolio {
  background: #fff;
  padding: 30px 0;
}

#portfolio .portfolio-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#portfolio .portfolio-item {
  overflow: hidden;
  position: relative;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}

#portfolio .portfolio-item h2 {
  color: #ffffff;
  font-size: 24px;
  margin: 0;
  text-transform: capitalize;
  font-weight: 700;
}

#portfolio .portfolio-item img {
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  width: 100%;
}

#portfolio .portfolio-item:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#portfolio .portfolio-item:hover .portfolio-overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}

#portfolio .portfolio-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Testimonials Section
--------------------------------*/
#testimonials {
  padding: 30px 0;
}

#testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 0 30px;
  margin: 30px 15px;
  text-align: center;
  min-height: 350px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}

@media (max-width: 767px) {
  #testimonials .testimonial-item {
    margin: 30px 10px;
  }
}

#testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

#testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

#testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

#testimonials .testimonial-item .quote-sign-left {
  margin-top: -15px;
  padding-right: 10px;
  display: inline-block;
  width: 37px;
}

#testimonials .testimonial-item .quote-sign-right {
  margin-bottom: -15px;
  padding-left: 10px;
  display: inline-block;
  max-width: 100%;
  width: 37px;
}

#testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

#testimonials .owl-nav, #testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#testimonials .owl-dot.active {
  background-color: #50d8af;
}

/* Call To Action Section
--------------------------------*/
#call-to-action {
  background: #081e5b;
  background-size: cover;
  padding: 40px 0;
}

#call-to-action .cta-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#call-to-action .cta-text {
  color: #fff;
}

@media (min-width: 769px) {
  #call-to-action .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

#call-to-action .cta-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 26px;
  border-radius: 3px;
  transition: 0.5s;
  margin: 10px;
  border: 3px solid #fff;
  color: #fff;
}

#call-to-action .cta-btn:hover {
  background: #50d8af;
  border: 3px solid #50d8af;
}

/* Our Team Section
--------------------------------*/
#team {
  background: #fff;
  padding: 30px 0 0 0;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
}

#team .member .pic {
  overflow: hidden;
  text-align: center;
}

#team .member .pic img {
  max-width: 100%;
}

#team .member .details {
  background: #50d8af;
  color: #fff;
  padding: 15px;
  border-radius: 0 0 3px 3px;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

#team .member .social {
  margin-top: 5px;
}

#team .member .social a {
  color: #fff;
}

#team .member .social i {
  font-size: 16px;
  margin: 0 2px;
}

/* Contact Section
--------------------------------*/
#contact {
  padding: 30px 0;
}

#contact .contact-info {
  margin-bottom: 20px;
  text-align: center;
}

#contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #50d8af;
}

#contact .contact-info address, #contact .contact-info p {
  margin-bottom: 0;
  color: #000;
}

#contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

#contact .contact-info a {
  color: #000;
}

#contact .contact-info a:hover {
  color: #50d8af;
}

#contact .contact-address, #contact .contact-phone, #contact .contact-email {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  #contact .contact-address, #contact .contact-phone, #contact .contact-email {
    padding: 20px 0;
  }
}

@media (min-width: 768px) {
  #contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}

#contact #google-map {
  height: 290px;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  #contact #google-map {
    margin-top: 20px;
  }
}

#contact .form #sendmessage {
  color: #50d8af;
  border: 1px solid #50d8af;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input, #contact .form textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}

#contact .form button[type="submit"] {
  background: #50d8af;
  border: 0;
  border-radius: 3px;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

#contact .form button[type="submit"]:hover {
  background: #2dc899;
}

/*--------------------------------------------------------------
# Settings
--------------------------------------------------------------*/

#settings .container {margin-top:5rem}

.profile-info {
  text-align: center;
}

.profile-info img {
  margin-bottom:15px;
}

.profile-name {
  font-weight:bold;
  text-align: center;
  margin-bottom:25px;
}

#settings .annouce-txt {
    background: #ED1B24;
    color: #fff;
    height: 55px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding: 15px;
}

#settings .tabContainer {
  border-top:1px solid #eee;
  padding-top:30px;
}

.personal-info h5 {
    font-weight: bold;
    font-size: 16px;
}
.account-info h5{
    font-weight: bold;
    font-size: 16px;	
}
.credentials h5{
    font-weight: bold;
    font-size: 16px;	
}

.user-profile label {
  width: 17%;
  margin: 18px 0px;
}

.user-profile input {
  width: 79%;
  margin: 10px;
}

input.settings-submit-button {
  background: #3CB879;
  padding: 6px 25px;
  color: #fff;
  font-weight: bold;
  float: right;
  border-radius: 5px;
  width: 20%;
  border: none;
  cursor: pointer;
}
.personalinfo, .accountinfo, .credentialinfo {
  overflow:auto;
}

.credentialinfo input {
  float:right;
}

.profile-link ul {
  list-style:none;
}

.profile-link ul li {
  padding:10px 0px;
  color: #555;
}

.profile-link ul li a{
  color: #555;
}
.profile-info {
  text-align:center;
}

#circle {
    width: 85px;
    height: 85px;
    background: #F26D7D;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    margin: 10px auto;
    padding: 12px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

#circle-head {
    width: 35px;
    height: 35px;
    background: #F26D7D;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    margin: 0px auto;
    padding: 6px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

@media (max-width: 767px) {
  #settings .annouce-txt {
    height:120px;
    font-size: 1.25rem;
  }
  .user-profile label {
    width: 100%;
    margin: 18px 0px;
  }
  
  .user-profile input {
    width: 100%;
    margin: 10px 0px;
    box-shadow: none;
  }
  .user-profile select {
    margin: 15px 0px;
  }
  .credentialinfo input {
    float:left;
  }
  #circle-head {
    margin: 0px 0px 0px 15px;
  }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  padding: 0 0 8px 0;
  font-size: 13px;
}

#footer .copyright {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 0;
  font-size: 10px;
  font-weight: bold;

}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #555;
}

#footer .credits a {
  color: #0c2e8a;
}

#footer .sub-footer {
  background: url('../img/footer-bg.jpg') no-repeat;
}

#footer h6 {
  margin-top: 2.5rem;
  font-weight: bold !important;
}

#footer .collaborate1 {
  float:left;
  width:140px;
}

#footer .collaborate2 {
  float:left;
  width:100px;
}

#footer .col-lg-4 {
  margin-bottom:2rem;
}

#footer .link {
  padding-left: 18px;
}

#footer .link li a{
  color: #363636;
  font-size: 13px;
}
#footer .sub-footer p{
  font-size: 13px;
}
#footer .spacing {
  padding-left: 5rem;
}

@media (max-width: 768px) {
  #footer h6 {
    margin-top: 1.5rem;
  }
  #footer .sub-footer {
    background: url('../img/footer-bg.jpg');
  }
  #footer .collaborate1 {
    margin-bottom:1rem;
    text-align: center;
  }
  
  #footer .collaborate2 {
    margin-bottom:1rem;
    text-align: center;
  }
  #footer .col-lg-4 {
    margin-bottom:1rem;
  }
  #footer .spacing {
    padding-left: 15px;
  }
}

.insitutionName {
  width: 79% !important;
}

#instlist {
  text-align:left;
  margin-top:3rem;
}
#instlist .normal-txt {
  margin-bottom: 5px;
}
#instlist .instlist-filter  {
  margin-bottom:2rem;
}
#instlist .instlist-filter .container {
  margin:0px;
  padding:0px;
}
#instlist .instlist-filter select {
  width: 36%;
}
#instlist .instlistbox {
  padding: 20px 25px;
  box-shadow: 5px 5px 15px rgba(73, 78, 92, 0.1);
  background: #fff;
  border: 1px solid #eee;
  border-top:none;
  margin-bottom: 10px;
  min-height: 190px;
  margin: 25px;
  width: 28.333333%;
  flex: 0 0 28.333333%;
}

#instlist .instlistbox .normal-txt {
  margin-bottom: 0px;
  font-size: 13px;
}

.settings-radio {
  width:auto !important;
  float: left;
  margin-top: 21px !important;
}
label.radio{
  width: 50px;
}

/*** Mobile Style **/
/*==============================*/

@media (max-width: 768px) {
  html, body {max-width: 100%;overflow-x: hidden;}
  #intro {height:48vh !important;min-height: auto;}	
  #introadobe {height:48vh !important;min-height: auto;}	  
  #introautodesk {height:48vh !important;min-height: auto;}	
  #intro-home {height:48vh !important;min-height: auto;}
  #intro-office365 {height:48vh !important;min-height: auto;}
  #intro-imagine-academy {height:48vh !important;min-height: auto;}
  #intro-windows10 {height:48vh !important;min-height: auto;}
  #instlist .instlist-filter select {
    width: 93%;
  }
  #intro-home .intro-txt {
    font-style: italic;
    font-size: 15px;
    margin-top: 5px;
    width: 100%;
    line-height: 1.5;
    margin-bottom: 22px;
  }
  #attention img {
    margin: 2rem 0 3rem 1rem;
  }
  #attention {
    height: 118vh;
  }
  #ourpartner ul.ourpartner-list {padding: 0px 3rem; text-align: center;}
  #ourpartner ul.ourpartner-list li {
    width: 170px;
    height: 50px;
  }
  #homepage-column2 .column-content {margin-bottom:30px;}
  #homepage-column2 ul.cloumn-list li img {
    margin-left: 0 !important;
  }
  #homepage-column3 ul.cloumn-list li img {
    margin-left: 0 !important;
  }
  .imagine-academy-content .col-lg-3 {
    padding-right: 15px;
  }
  .windows10column .col-lg-6 img {
    margin-bottom:10px;
  }
  .icnumber2 {
    width:40px;
  }
  .icnumber3 {
    width:80px;
  }
  ul.office365-products {
    padding:0px;
  }
  .mobile-align {
    padding-right: 63px !important;
  }
  .insitutionName {
    width: 99% !important;
  }
  #intro-imagine-academy .intro-txt {
    width:100%;
  }
  #intro .intro-txt {
    width:100%;
  }
  #allevents .eventdate-box {
    width:35%;
  }
}

@media (max-width: 1280px) {
  #allbenefit {
    height: 28vh;
    min-height: 259px;
  }
}

/** Iphone 5 */
@media screen and (device-aspect-ratio: 40/71) {
  #allbenefit {
    min-height: 355px;
  }
  #attention {
    height: 138vh;
  }
  #attention img {
    width: 255px;
  }
  #attention .attention-submit-button {
    top:45px;
  }
  #howtostart {
    height: 160vh;
  }
  #homepage-column2 img.homepage-img, .separator {
    width: 97% !important;
  }
  #homepage-column3 img.homepage-img, .separator {
    width: 97% !important;
  }
  #homepage-column2 {
    margin-bottom: 2rem;
    height: 116vh;
  }
  #ourpartner ul.ourpartner-list {
    padding: 0px 1rem;
  }
  #ourpartner ul.ourpartner-list li {
    width: 153px;
  }
  #newslist .news-img1 {
    height: 288px;
  }
  div.tabBox h3 {
    padding: 20px 30px;
  }
  #adobeproducts .tabContainer .col-lg-4 img {
    width:100% !important;
  }
  #intro-windows10 .intro-txt {
    width: 290px;
  }
  #footer .link {
    margin-bottom: 0px;
  }
  #windows10info1 .btn-windows10 a {
    padding: 15px 40px;
  }
}

/** Iphone 6 */
@media screen and (device-aspect-ratio: 375/667) {
  #homepage-column2 {
    height: 104vh;
  }
  #ourpartner ul.ourpartner-list li {
    width:153px;
  }
  #allbenefit {
    min-height: 310px;
  }
}

/** Iphone 6 + */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) {
  #howtostart {
    height: 125vh;
  }
  #homepage-column2 {
    height: 89vh;
  }
  #allbenefit {
    min-height: 310px;
  }
  #attention {
    height: 106vh;
  }
}

/** Iphone X */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (orientation : portrait) 
    and (-webkit-device-pixel-ratio : 3) { 
      #homepage-column2 {
        height: 86vh;
      }
      #howtostart {
        height: 112vh;
      }
      #allbenefit {
        min-height: 310px;
      }
      #attention {
        height: 100vh;
      }
      #ourpartner ul.ourpartner-list li {
        width:153px;
      }
}

/** iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)and (-webkit-min-device-pixel-ratio: 1) {
  #ourpartner ul.ourpartner-list li {
    width:auto;
  }
  #howtostart {
    height: 86vh;
  }
  #homeslider div.tabContainer {
    margin: 0px 10px !important;
    width: 210px !important;
    padding: 25px 10px 0px 10px !important;
    min-height: 300px !important;
    height:300px !important;
  }
  #homeslider img {
    width:95% !important;
  }
  .slick-dots {
    display:none !important;
  }
  #allbenefit {
    height: 32vh;
    background-position: center;
  }
  #attention {
    height: 63vh;
  }
  #products ul.product-list li {
    width:auto !important;
  }
  #footer .link {
    margin-bottom: 0px;
  }
  #partners .imagine-academybox {
    padding:20px !important;
    height:auto !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 1) {
  html, body {
    width: 100%;
  }
  #ourpartner ul.ourpartner-list li {
    width:auto;
  }
  #ourpartner ul.ourpartner-list li {
    padding: 0 14px;
  }
  .slick-slide {
    height:auto !important;
  }
  .slick-dots {
    display:none !important;
  }
  #allbenefit {
    height: 37vh;
    background-position: center;
  }
  #attention {
    background-position: center;
  }
  #attention img {
    margin: 2rem 0 3rem -1rem;
  }
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* Portrait */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    #homepage-column2 {
      height:40vh;
    }
    #ourpartner ul.ourpartner-list li {
      padding: 0 14px;
    }
    #howtostart {
      height: 30vh;
    }
    #attention {
      height: 30vh;
      background-position-x: center;
    }
    #attention img {
      margin: 2rem 0 3rem 0rem;
      width: 98%;
    }
    #intro-home, #intro-office365, #intro, #intro-imagine-academy, #intro-windows10  {
      height:35vh;
    }
    #main {
      min-height: 1050px;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

}
